body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.table-container, title {
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}

.title {
    min-width: 80px;
    }

.season {
    display: flex;
    vertical-align: top;
    align-items: center;
}

.season > div{
    flex-shrink: 0;
}

.episode-label {
    font-weight: bold;
    margin-right: 10px;
}

.season-label {
    position: relative;
    min-width: 80px;
    text-align: right;
}

.season-label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 10px;
    height: 100%;
}

.episode-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season-label {
    text-align: center;
    font-weight: bold;
}

.episode-number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 2px;
    font-weight: bold;
    font-size: 22px;
    color: #000;
}

.episode {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 2px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
}
.tooltip {
    position: absolute;
    top: -30px; /* Adjust the distance from the episode tile */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    display: none;
}

.episode:hover .episode:active .episode:focus .tooltip {
    display: block;
}

.legend {
    display: flex;
    margin-top: 20px;
    margin-left: 80px;

}

.legend-box {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 600px) {

    .table-container {
        text-align: center;
        white-space: nowrap;
    }
}

.legend-1 { background-color: #ff0000; }
.legend-2 { background-color: #ff4500; }
.legend-3 { background-color: #ffa500; }
.legend-4 { background-color: #ffd700; }
.legend-5 { background-color: #a0c92e; }

.rating-1 { background-color: #6f1c1c; }
.rating-2 { background-color: #ff4500; }
.rating-3 { background-color: #ffa500; }
.rating-4 { background-color: #c2e071; }
.rating-5 { background-color: #a0c92e; }
.rating-6 { background-color: #008000; }